/**************侧滑菜单*******************/
.mui-off-canvas-left {
	background: #DDDDDD;
	width: 50%;
}
#sideBar #sideBar_title {
	width: 100%;
	height: 45px;
	text-align: center;
	padding-top: 12px;
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #007AFF;
}
#sideBar #sideBar_list {

}
#sideBar_list .mui-table-view-cell{
	height: 60px;
}
#sideBar_list .mui-navigate-right{
	margin: auto;
}
#sideBar_list .mui-table-view-cell .mui-active{
	background-color: #007AFF;
}

/**************主页头部****************/
#head{
	/*background: #de2327;*/
}
#head #head_title {
	font-size: 22px;
	font-weight: bold;
	color: #007AFF;
}

/*个人信息卡片视图*/

/*个人信息*/
#operation ul li{
	line-height: 30px;
	font-size: 18px;
	text-align: center;
}